p {
    font-family: sans-serif;
    font-style:oblique;
    color: rgba(195, 53, 43, 1);
    margin: 8%;
    font-size: xx-large;
    font-weight: 1000;
    }   

td {
    color: blue;
    font-style: oblique;
    font-family: cursive;
}

img {
    height: 300px;
    width: 300px;
    border: 5px rgba(195, 53, 43, 1) solid;
    border-radius: 100%;
}

#Servicios {
margin-left: 4.5%;


}
.servicio img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 5px color rgba(195, 53, 43, 1) solid;
    position: relative;
}

.servicio {
    position:static;
    width: 180px;
    height: 290px;
    display: inline-block;
    margin: 2%;
    cursor: pointer;
    border-radius: 10px;
    border: 5px red solid;
}

