#sidebar {
    display: flex;
    float: left;
    border-right: 1px solid rgb(0 0 0 / 21%);
    border-radius: 0px 10px 10px 0px;
    padding: 11px;
    height: 100%;
    margin-top: -13px;
    margin-left: -10px;
    position: fixed;
    background-image: url(TRIMER.png);
    background-size: contain;
    color: aliceblue;
    font-family: sans-serif;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 13%;
    box-shadow: #5d4545 1px 0px 10px 5px;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#menu a {
    margin: 15px;
    font-family: sans-serif;
    color: rgb(255, 250, 250);
    font-weight:700;
    font-style: italic;
    font-size: 19px;
    text-decoration-line: none;
    position: static;
    transition: 0.2s;
    
}

#menu a:hover {
    transition: 0.3s;
    margin: 15.25px;
    font-family: sans-serif;
    color: rgb(253, 65, 52);
    font-weight: bolder;
    font-style: italic;
    text-decoration-line: none;
    position: static;
}

#menu a:active {
    transition: 0.3s;
    margin: 15.25px;
    font-family: sans-serif;
    color: rgb(255, 17, 0);
    font-weight: bolder;
    font-style: italic;
    text-decoration-line: none;
    position: static;
}



.centrado {
    display: flex;
    height: 3%;
    justify-content: center;
    justify-items: center;
    margin: 0px 0px 10px 0px;
    padding: 74px 0px 0px 0px;
    color: rgb(227, 59, 47);
    font-weight: 700;
    font-style: italic;
    font-size: 23px;
}


#principal{
    float: right;
    background-color: #fffafd;
    width: 85.6%;
}

footer {
    position: fixed;
    background-color: black;
}
p {
    font-family: sans-serif;
    font-style:oblique;
    color: rgba(195, 53, 43, 1);
    margin: 8%;
    font-size: xx-large;
    font-weight: 1000;
    }   

td {
    color: blue;
    font-style: oblique;
    font-family: cursive;
}
#logo {
    height: 19%;
    width: auto;
    border-radius: 100%;
    padding: 0px 0px 0px 1.35px;
}

#Servicios {
margin-left: 4.5%;


}
.servicio img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 5px color rgba(195, 53, 43, 1) solid;
    position: relative;
}

.servicio {
    width: 180px;
    height: 290px;
    display: inline-block;
    margin: 2%;
    cursor: pointer;
    border-radius: 10px;
    border: 5px red solid;
}



